@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&family=Roboto+Slab:wght@200&family=Zen+Kurenaido&display=swap");

#Rootpane {
  -fx-background-color: linear-gradient(to top left, #ff7f50, #6a5acd);
}

#Shutdown.button {
  -fx-background-color: transparent;
  -fx-border-radius: 4;
  -fx-background-radius: 5;
  -fx-font-family: "Roboto", sans-serif;
}

#ToggleBackground {
  -fx-arc-height: 15px;
  -fx-arc-width: 15px;
}

#ToggleBackground2 {
  -fx-arc-height: 15px;
  -fx-arc-width: 15px;
}

#ToggleButton {
  -fx-arc-height: 15px;
  -fx-arc-width: 15px;
}

#Result {
  -fx-text-fill: black;
  -fx-background-color: #ffffff;
  -fx-border-color: black;
  -fx-font-family: "Zen Kurenaido", sans-serif;
}

#Modulus.button {
  -fx-background-color: transparent;
  -fx-border-color: black;
  -fx-text-fill: white;
  -fx-border-radius: 4;
  -fx-background-radius: 5;
  -fx-font-family: "Roboto", sans-serif;
}

#C {
  -fx-background-color: transparent;
  -fx-border-color: black;
  -fx-text-fill: white;
  -fx-border-radius: 4;
  -fx-background-radius: 5;
  -fx-font-family: "Roboto", sans-serif;
}

#Modulus.button:hover {
  -fx-text-fill: white;
  -fx-background-color: black;
  -fx-border-color: black;
  -fx-font-size: 18px;
}

#C.button:hover {
  -fx-text-fill: white;
  -fx-background-color: black;
  -fx-border-color: black;
  -fx-font-size: 18px;
}

#Shutdown.button:hover {
  -fx-background-color: black;
}

#ToggleButton:hover {
  -fx-fill: rgb(105, 103, 103);
}
