@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&family=Roboto+Slab:wght@200&family=Zen+Kurenaido&display=swap");

#Rootpane {
  -fx-background-color: #222831;
}

#Shutdown.button {
  -fx-background-color: transparent;
  -fx-border-radius: 4;
  -fx-background-radius: 5;
  -fx-font-family: "Roboto", sans-serif;
}

#Toggle.toggle-button {
  -fx-background-color: transparent;
  -fx-border-radius: 4;
  -fx-text-fill: white;
  -fx-font-family: "Roboto", sans-serif;
}

#Result.label {
  -fx-text-fill: #eeeeee;
  -fx-background-color: #393e56;
  -fx-border-color: black;
  -fx-font-family: "Zen Kurenaido", sans-serif;
}

#Modulus.button {
  -fx-background-color: #fd7014;
  -fx-text-fill: #eeeeee;
  -fx-border-radius: 4;
  -fx-background-radius: 5;
  -fx-font-family: "Roboto", sans-serif;
}

#C {
  -fx-background-color: #fd7014;
  -fx-text-fill: #eeeeee;
  -fx-border-radius: 4;
  -fx-background-radius: 5;
  -fx-font-family: "Roboto", sans-serif;
}

#Modulus.button:hover {
  -fx-text-fill: #fd7014;
  -fx-background-color: #eeeeee;
  -fx-font-size: 18px;
}

#C.button:hover {
  -fx-text-fill: #fd7014;
  -fx-background-color: #eeeeee;
  -fx-font-size: 18px;
}

#Shutdown.button:hover {
  -fx-background-color: #eeeeee;
  -fx-text-fill: #222831;
}

#Toggle.toggle-button:hover {
  -fx-background-color: #eeeeee;
  -fx-text-fill: #222831;
  -fx-font-size: 11px;
}
